:root {
  --background: #dbdbdb;
  --bg-swap: #EDEDED;
  --bg-table: #EDEDED;

  --border-color-1: #01DBE7;
  --bg-gradient-sidebard: linear-gradient(177deg, rgba(25, 95, 180, 1) 0%, rgba(29, 235, 243, 1) 95%);
  --bg-gradient-box-1: linear-gradient(90deg, rgba(99,26,189,1) 0%, rgba(172,134,255,1) 95%);
  --bg-gradient-box-2: linear-gradient(90deg, rgba(23,117,222,1) 0%, rgba(99,249,253,1) 95%);
  --bg-gradient-box-3:  linear-gradient(90deg, rgba(99,26,189,1) 0%, rgba(172,134,255,1) 95%);
  --bg-gradient-box-4:  rgba(23,117,222,1);

  --bg-color-sideboard: #D3D3D4;

  --border-color-1: #1775DE;
  --bg-color-1: #30FB98;
  --bg-color-2: #EDEDED;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* GRADIENTES DEL LAYOUT */
.gradient :before {
  display: flex;
  content: '';
  right: 0;
  width: 500px;
  height: 500px;
  position: absolute;
  background: radial-gradient(circle, rgba(0, 255, 183, 0.274) 0%, rgba(2, 0, 36, 0) 67%);
  z-index: -1;
}

.gradient :after {
  display: flex;
  content: '';
  left: 0;
  bottom: 0;
  width: 500px;
  height: 500px;
  position: absolute;
  background: radial-gradient(circle, rgba(44, 150, 242, 0.126) 0%, rgba(2, 0, 36, 0) 67%);
  z-index: -1;
}

.line-dashboard-menu{
  display: flex;
  content: '';
  width: 100%;
  max-width: 85%;
  height: 1px;
  background: var(--border-color-1);
  position: absolute;
  z-index: 0;
}

.line-separator :before{

}